<%- include('./partials/header.ejs') %>
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/css/style.css">
    <%- include('./partials/navbar.ejs') %>
        <section class="about-section">
            <div class="about-brand">
                <img src="/image/abt.svg" alt="suraj patel">
            </div>
            <div class="about-text">
                <div class="head-line">About....</div>
                <div class="about-content">
                    <div class="content" id="alpha">Hey! I am a Full Stack Developer & UI/UX Desigener from Varanasi,
                        India.
                        Currently I am pursuing my Master Degree in Pharmaceutical Engineering form Indian Institute Of
                        Technology
                        BHU (Varanasi).
                    </div>
                    <div class="content">Rather than development, I am a programmer working with C/C++ for two years.
                        over the past 3 years, I have put time, energy, and effort into my task to have learned more
                        than ever. Here
                        I am going to share a glimps of my story to being here..
                    </div>

                </div>
                <a href="#" class="btn" type="button">Know more</a>
            </div>
        </section>
       





        <script src="/js/nav.js"></script>

        <%- include('./partials/footer.ejs') %>