<%- include('./partials/header.ejs') %>
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/css/style.css">

    <%- include('./partials/navbar.ejs') %>










     <!-- include any script -->
        <!-- nav script -->
       

<%- include('./partials/footer.ejs') %>