<%- include('./partials/header.ejs') %>
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/css/style.css">

    <%- include('./partials/navbar.ejs') %>
        
            
            <div class="brand-section">
                <div class="brand-iamge">
                    <img src="/image/My-project-1.svg" alt="Suraj Patel">
                </div>
                <div class="brand-tag">
                    <div class="head-line">I am</div>
                    <div class="head-line">a Developer</div>
                    <a href="/skill" type="button">Lets explore</a>
                </div>
            </div>
        </section>
        <!-- include any script -->
        <!-- nav script -->
       

        <%- include('./partials/footer.ejs') %>