<%- include('./partials/header.ejs') %>
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="/css/style.css">

    <%- include('./partials/navbar.ejs') %>

    <section class="skill-section">
        <div class="skill-start">
            <div class="skill-view1">
                <div class="head-line">Its the <span>WILL</span>,</div>
                <div class="head-line">not the <span>SKILL</span></div>
                <div class="quot">Once you stop learning, you start dying.</div>
                <a href="#" type="button" class="btn btn-outline-success  m-4">Get started</a>
            </div>
            <div class="skill-view2">
              
            </div>
        </div>
    </section>













<!-- include any script -->
        <!-- nav script -->
       

<%- include('./partials/footer.ejs') %>