<div class="container-fluid">
    <div class="head">My Technical skills</div>
    <div class="content">


        <div class="skl-box">
            <div class="icon" id="htm">
                <i class="fa-brands fa-html5"></i>
            </div>
            <div class="header">HTML/HTML5</div>
            <div class="text">The buidling block of web development.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="css">
                <i class="fa-brands fa-css3-alt"></i>
            </div>
            <div class="header">CSS/CSS3</div>
            <div class="text">Design your drem with css.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="js">
                <i class="fa-brands fa-js"></i>
            </div>
            <div class="header">JavaScript</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="boot">
                <i class="fa-brands fa-bootstrap"></i>
            </div>
            <div class="header">BootStrap</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="skl-box">
            <div class="icon" id="node">
                <i class="fa-brands fa-node-js"></i>
            </div>
            <div class="header">Node Js</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="skl-box">
            <div class="icon" id="exp">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="header">Express Js</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="skl-box">
            <div class="icon" id="bj">
                <i class="fa-sharp fa-solid fa-comments"></i>
            </div>
            <div class="header">Babel Js</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skl-box">
            <div class="icon" id="mongo">
                <i class="fa-brands fa-envira"></i>
            </div>
            <div class="header">MongoDB</div>
            <div class="text">The demand of industry, management of data in simple and small way.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="cc">
                <i class="fa-solid fa-file-code"></i>
            </div>
            <div class="header">C/C++</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="skl-box">
            <div class="icon" id="mtlb">
                <i class="fa-solid fa-file-code"></i>
            </div>
            <div class="header">MatLab</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="skl-box">
            <div class="icon" id="ml">
                <i class="fa-solid fa-microchip"></i>
            </div>
            <div class="header">Machine Learning</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="head">Other skills</div>
    <div class="content">
        <div class="skl-box">
            <div class="icon" id="team">
                <i class="fa-solid fa-handshake-angle"></i>
            </div>
            <div class="header">Team working</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="poet">
                <i class="fa-solid fa-file-pen"></i>
            </div>
            <div class="header">Poetry writting</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skl-box">
            <div class="icon" id="read">
                <i class="fa-solid fa-book-open-reader"></i>
            </div>
            <div class="header">Book reading</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Know More
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>